html {
    min-height: 100%
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font: 15px Tahoma;
    color: #555;
}


.color-picker {
    margin: 25px auto;
    width: 240px;
    height: 250px;
}

.color-values {
    list-style: none;
    color: #222;
    height: 30px;
    width: 30px;
    border: 1px solid black;
}

        /* Common stuff */
.picker-wrapper {
    position: absolute;
    margin-left: 40px;
    border: 1px solid black;
}

.picker-indicator,
.pcr-indicator {
    position: absolute;
    left: 0;
    top: 0;
}

.picker,
.pcr {
    cursor: crosshair;
    float: left;
}


/* Default skin */

.cp-default .picker {
    width: 200px;
    height: 200px;
}

.cp-default .pcr {
    width: 30px;
    height: 200px;
}

.cp-default .pcr-wrapper {
    position: absolute;
    border: 1px solid black;
}

.cp-default .picker-indicator {
    width: 5px;
    height: 5px;
    border: 2px solid darkblue;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    filter: alpha(opacity=50);
    background-color: white;
}

.cp-default .pcr-indicator {
    width: 100%;
    height: 10px;
    left: -4px;
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    filter: alpha(opacity=60);
    border: 4px solid black;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
}

.pic-res {
    display: flex;
    top: 202px;
    position: relative;
    justify-content: left;
    align-items: center;
    width: 242px;
    height: 50px;
}

.hex {
    margin: 10px;
}